<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles.css" />
  <title>{{ title }}</title>
</head>

<body>
  <div id="body">
    <div id="container">
      <header id="headerArea">
        <div id="header">{% include 'header.njk' %}</div>
        <nav id="navbar">{% include 'navigation.njk' %}</nav>
      </header>

      <div id="flex">
        {% include 'leftsidebar.njk' %}

        <main>
          {% block mainContent %}
          <!-- Default content if not overridden -->
          {% endblock %}
        </main>

        {% include 'rightsidebar.njk' %}
      </div>

      <footer id="footer">
        {% include 'footer.njk' %}
      </footer>
    </div>
  </div>
</body>
</html>