{% extends "base.njk" %}

{% block title %}Welcome{% endblock %}

{% block mainContent %}
<center><h2>Welcome to the Bunker</h2><center>
<p>Greetings. Feel free to look around, glad to have a visitor.</p>
<p><strong>This page isn't mobile friendly and works best on PC</strong></p>
<p>This site is a personal project, a bit of fun and where I’ve gathered and shared some interesting things I’ve found and thoughts while wandering the internet.</p>
<p><strong>Warning:</strong> This site includes content that may be considered politically incorrect or controversial.</p>
<p>Thank you for visiting, and enjoy the ride.</p>
{% endblock %}