{% extends "base.njk" %}

{% block title %}Welcome{% endblock %}

{% block mainContent %}
<center><h2>Welcome to the Bunker</h2><center>
<p>Greetings! Take your time and explore the archive — I’m glad you’ve found your way here.</p>
<p><strong>This site is best experienced on a PC. It's a throwback to the old web and isn't  recommended for mobile.</strong></p>
<p>This is a personal project — a nostalgic collection of interesting things I’ve discovered while wandering the internet. It’s a mix of war aesthetics, political content, and digital relics.</p>
<p><strong>Warning:</strong> The content here may be politically incorrect or controversial.</p>
<p>Thank you for visiting. Enjoy your time in the Bunker.</p>
{% endblock %}