<aside id="leftSidebar">
  <h2>Updates</h2>
  <div class="box">
    <p>Created the site on 9/17/2024</p>
    <ul style="padding-left:10px;">
      <li>Still Work In Progress!</li>
    </ul>
  </div>
  <h2>Hi there!</h2>
  <p>This site is still under development and very bare bones, so please bear with me! Should be filled eventually.</p>
  <h3>Badges</h3>
  {% include 'badges.njk' %}
</aside>