<aside id="leftSidebar">
  <h2>Updates</h2>
  <div class="box">
    <p>Created the site on 9/17/2024</p>
    <ul style="padding-left:10px;">
      <li>9/18/24 - Added Archive section, music player and site visit counter</li>
      <li>9/19/24 - Changed Guestbook site and counter</li>
      <li>9/20/24 - Updated Archive function</li>
    </ul>
  </div>
 <h3>Badges</h3>
  {% include 'badges.njk' %}

  <h3>Music</h3>
  {% include 'player.njk' %}

</aside>