<aside id="rightSidebar">
  <h2>Updates</h2>
  <div class="box">
    <p>Blog feed coming eventually here (hopefully)</p>
    <ul style="padding-left:10px;">
      <li>Imagine something here</li>
    </ul>
  </div>
  <h2>Thanks for visiting!</h2>
  <h3>Other Links</h3>
  <ul>
    <li><a href="https://youtu.be/-dOkob-nakA" target="_blank">Cool Song</a></li>
  </ul>
</aside>