<aside id="rightSidebar">
  <h2>Blog Feed</h2>
  <div class="box">
    <p>Blog feed coming eventually here (hopefully)</p>
    <ul style="padding-left:10px;">
      <li>Imagine something here</li>
    </ul>
  </div>
  <h2>Thanks for visiting!</h2>
  <h3>Other Links</h3>
  <ul>
    <a href="https://panzerschokolade.atabook.org/"><img alt="Guestbook" border="0" src="http://extras3.smartgb.com/b/gb_80x40.gif" width="80" height="40"></a>
    <iframe src="https://global-mind.org/gcpdot/gcp.html" width="40" height="40" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" ></iframe>
  </ul>
  <br/>
  <h3>Unique Visits</h3>
  <div align=left><script type="text/javascript" src="//counter.websiteout.com/js/2/0/214/1"></script></div>
</aside>